.Rproj.user
.Rhistory
.RData
.Ruserdata
Statistic_projects_SPSS/Mobile_Networking/._Attitudes towards mobile marketing tools.docx
Statistic_projects_SPSS/Mobile_Networking/._Mobile_networking_data.xlsx
